# Ignore raw dataset files — download locally, never commit to Git

# Balabit
data/balabit/**/*.csv
data/balabit/**/*.zip

# SapiMouse
data/sapimouse/**


# Keep the README and folder structure
!data/README.md
!data/balabit/.gitkeep
!data/sapimouse/.gitkeep
!data/custom/.gitkeep
